<%= form_for @skill do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="form-group">
  <%= f.label :rating %>
  <%= f.text_field :rating %>
</div>

<br>
  <%= f.submit %>
<% end %>
